 <section>
  <h1>Write user Name & password to show cars data</h1>
  <p>try user:amit password: 12345</p>
<input type="text" placeholder="Enter User Name" [(ngModel)]="i1" >
<input type="text"placeholder="Enter Password" [(ngModel)]="i2" >
<button (click)="a()">Show Data</button>
<div class="con" *ngIf="show" >
  <div class="img">
      <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quis magnam reprehenderit ullam. Iste quos, assumenda doloribus non ab nemo inventore vel, in quas eveniet voluptatibus, unde laborum veritatis praesentium.</h2>
  </div>
  <div class="img">
      <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quis magnam reprehenderit ullam. Iste quos, assumenda doloribus non ab nemo inventore vel, in quas eveniet voluptatibus, unde laborum veritatis praesentium.</h2>
  </div>
  <div class="img">
      <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quis magnam reprehenderit ullam. Iste quos, assumenda doloribus non ab nemo inventore vel, in quas eveniet voluptatibus, unde laborum veritatis praesentium.</h2>
  </div>
</div>
</section>  
